extend layout

block content
    h1=title
    hr
    each item in items
        a(href=item.url)
            h3(class="item-name") #{item.name}
        p(class="item-description") #{item.description}
        p(class="price-and-status") $#{item.price} - #{item.status}
        hr
    else
        p There are no items
        
