extend layout 

block content 
    h1 #{title}

    p #[strong Status:] #{item.status}
    p #[strong Category: ] 
        a(href=item.category.url) #{item.category.name}       
    p #[strong Price:] $#{item.price}
    p #[strong Total Number of Stock:] #{item.total_stock_number}
    p #[strong Sizes and their Quantity]:
        each size in item.sizes 
            li #{size.size.name} - #{size.quantity}
    a(href=item.url+"/delete") Delete item
    if item.image
        img(src="/"+item.image)
    else
        p There are no pictures attached