extend layout 

block content 

    h1= title 
    each size in sizes
        div.size-card
            li
                a(href=size.url) #{size.name}
            a(href=size.url+'/delete') Delete #{size.name}
            a(href=size.url+'/update') Update #{size.name}